
.article--m{
    margin: 10rem 0 0rem;

    div{
        article{
            p{
            text-align: center;
            }
            h5{
            text-align: center;
            }
        }
    }


@include bg($fondo:"blanco") /*El mixin bg, se encarga de adaptar el texto y el fondo en base al tipo de fondo que se elija, las opciones son fondo negro, blanco o transparente*/
}

.article__btns{
    margin: 1.8rem 0 1.8rem 0 !important;
}

.detalle{
    background-color: transparent !important;
    
    h3{
        color: white;
        text-shadow: 2px 2px 3px black;
    }
}



