.buscador{
    position: initial;
    z-index: 1;
    top: 0rem;
    background-color: white;
    width: 40rem;
    padding: 2rem;
    left: 0%;
    display: flex;
    justify-content: center;
    background-color: #ffff;
    background-color: rgba(255,255,255,0.5);

    #inputBuscar{
      width: 50% !important;
      height: 40px !important;
    }

    button{
      padding: 3px;
      display: block;
      text-align: center;
      color: white !important;
      border: 1px solid gray;
      background-color: rgb(44, 43, 43);
      width: 4rem;
    }

}